@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/OpenSans-Regular.eot');
  src: url('~@/assets/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('~@/assets/fonts/OpenSans-Regular.woff2') format('woff2'),
       url('~@/assets/fonts/OpenSans-Regular.woff') format('woff'),
       url('~@/assets/fonts/OpenSans-Regular.ttf') format('truetype'),
       url('~@/assets/fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/OpenSans-ExtraBold.eot');
  src: url('~@/assets/fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('~@/assets/fonts/OpenSans-ExtraBold.woff2') format('woff2'),
       url('~@/assets/fonts/OpenSans-ExtraBold.woff') format('woff'),
       url('~@/assets/fonts/OpenSans-ExtraBold.ttf') format('truetype'),
       url('~@/assets/fonts/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/OpenSans-SemiBold.eot');
  src: url('~@/assets/fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('~@/assets/fonts/OpenSans-SemiBold.woff2') format('woff2'),
       url('~@/assets/fonts/OpenSans-SemiBold.woff') format('woff'),
       url('~@/assets/fonts/OpenSans-SemiBold.ttf') format('truetype'),
       url('~@/assets/fonts/OpenSans-SemiBold.svg#OpenSans-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/OpenSans-Bold.eot');
  src: url('~@/assets/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('~@/assets/fonts/OpenSans-Bold.woff2') format('woff2'),
       url('~@/assets/fonts/OpenSans-Bold.woff') format('woff'),
       url('~@/assets/fonts/OpenSans-Bold.ttf') format('truetype'),
       url('~@/assets/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
// @import "node_modules/bootstrap/scss/print";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
// @import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
// @import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
// @import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group";
// @import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
// @import "node_modules/bootstrap/scss/card";
// @import "node_modules/bootstrap/scss/breadcrumb";
// @import "node_modules/bootstrap/scss/pagination";
// @import "node_modules/bootstrap/scss/badge";
// @import "node_modules/bootstrap/scss/jumbotron";
// @import "node_modules/bootstrap/scss/alert";
// @import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/media";
// @import "node_modules/bootstrap/scss/list-group";
// @import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/modal";
// @import "node_modules/bootstrap/scss/tooltip";
// @import "node_modules/bootstrap/scss/popover";
// @import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/utilities";

html {
  font-size: 16px;

  @media screen and (min-width: 600px) and (max-width: 1200px) {
    font-size: 15px;
  }

  @media screen and (min-width: 350px) and (max-width: 600px) {
    font-size: 14px;
  }

  @media screen and (max-width: 350px) {
    font-size: 12px;
  }
}

body {
  font-family: 'Open Sans';
}

.container {
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1200px) {
    max-width: 1180px;
  }
}

button {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.btn-blue {
  color: #99d4f5;
  background-color: #0061a3;
  border-color: #0061a3;
}
.btn-blue:hover {
  color: #99d4f5;
  background-color: darken(#0061a3, 15%);
  border-color: darken(#0061a3, 15%);
}
.btn-blue.focus, .btn-blue:focus {
  box-shadow: 0 0 0 .2rem rgba(#0061a3, 0.5);
}

.btn-outline-blue {
  color: #0061a3;
  background-color: transparent;
  border-color: #97d4f7;
}
.btn-outline-blue:hover {
  color: #ffffff;
  background-color: #0061a3;
  border-color: #0061a3;
}
.btn-outline-blue.focus, .btn-outline-blue:focus {
  box-shadow: 0 0 0 .2rem rgba(#0061a3, 0.5);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
